
* { margin: 0; padding: 0; }
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background:#1c5a36;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo{
    margin-top: 10px;
    height: 100px;
}
.logo h1{
    float: left;
}
.logo a{
    margin: none;
    width: 184px;
    height: 65px;
    text-indent: -9999px;
    display: block;
}
.menu{
    flex: 70%;
    text-align: right;
    padding: 20px;
}
.menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 14px 16px;
}
.menu a:hover{
    color:white;
    border-top: 4px solid white;
}
#botao{
    background-color: #1c5a36;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}
#botao:hover{
    color: #1c5a36;
    border: #1c5a36;
    background: white;
}

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    padding-top: 100px;
}

.headline{
    margin-left: 10%;
    flex: 40%;
    /* border: 1px solid black; */

}
.headline h2{
    font-weight: 900;
    font-size: 30px;
    color: darkslategray;
    padding: 0;
    margin:0;
}
.headline p{
    color: gray;
    text-align: left;
}
.contact-btn{
    display: inline-block;
    background:#1c5a36;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}
.contact-btn:hover{
    background: darkslategray;
}
.img-headline{
    margin-right: 10%;
    flex: 40%;
    /* border: 1px solid deeppink; */
    text-align: center;

}
section{
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 80px;
    /*border: 1px solid black;*/
    height: 400px;
    text-align: center;
    padding: 5%;
}
section h2{
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-weight: bold;
    color: darkslategray;
}
.servicos{
    display: inline-block;
    margin-top: 5%;
}
.quem_somos{
    display: inline-block;
    margin-top: 5px;
}
.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border:1px solid #1c5a36;
    border-radius: 10px;
    cursor: pointer;
}
.texto-oculto{
    display: none;
}
.card:hover{
    background:#1c5a36;
    color: white;
    padding:40px;
}
.card:hover img{
    display:none;
}

.card:hover .card-text{
    display: none;
}
.card:hover .texto-oculto{
    display:block
}
footer{
    margin-top: 100px;
    height: 300px;
    background: #1c5a36 ;
    text-align: center;
}

.logo-rodape{
    padding: 100px;
}
.agencia{
    font-family: 'Lobster',cursive;
    color: white;
    font-size: 34px;  
}
.whats{
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 100px;
}

.slider{
    display: block;
    height: 296px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
    
}
.slider li{
    list-style: none;
    position: absolute;
}

.slider img{
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.slider input{
    display: none;
}

.slider label{
    background-color: #000;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label{
    left: 10px;
}

.slider li:nth-child(2) label{
    left: 40px;
}

.slider li:nth-child(3) label{
    left: 70px;
}
.slider img{
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}