
/** { 
    margin: 0; padding: 0; 
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.navebar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background:#1c5a36;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;
}*/

/*.logo{
    margin-top: 10px;
    height: 100px;
}
.logo h1{
    float: left;
}
.logo a{
    margin: none;
    width: 184px;
    height: 65px;
    text-indent: -9999px;
    display: block;
}
.menu{
    flex: 70%;
    text-align: right;
    padding: 20px;
}
.menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 14px 16px;
}
.menu a:hover{
    color:white;
    border-top: 4px solid white;
}



header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;   
}

.headline{
    margin-left: 10%;
    flex: 40%;
    /* border: 1px solid black; 

}

.headline h2{
    font-weight: 900;
    font-size: 30px;
    color: darkslategray;
    padding: 0;
    margin:0;
}

.headline p{
    color: gray;
    text-align: left;
}

.contact-btn{
    display: inline-block;
    background:#1c5a36;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}

.contact-btn:hover{
    background: darkslategray;
}

.img-headline{
    margin-right: 10%;
    flex: 40%;
    /* border: 1px solid deeppink;
    text-align: center;

}

section{
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 300px;
    /*border: 1px solid black;
    height: 400px;
    text-align: center;
    padding: 5%;
}


#servicos{
    display: inline-block;
    margin-top: 5%;
}

#quem_somos{
    width: 100%;
}


.agencia{
    font-family: 'Lobster',cursive;
    color: white;
    font-size: 34px;  
}

*/

* { margin: 0; padding: 0; }
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

/*Layout*/
html, body, #home{
    height:100%;
}

body{
    background: rgba(255,255,255,0.7);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*Barra de navegação*/
nav.navebar{
    padding: 20px;
    background:#1c5a36;
}
.navbar-nav .nav-link{
    color: white;
}
.navbar-nav .nav-link:hover{
    border-top: 4px solid white;
}
.navbar-toggler{
    color: rgba(255,255,255,0.5);
    border-color: rgba(255,255,255,0.5);
    background: #1c5a36;
}

#botao{
    background-color: #1c5a36;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}
#botao:hover{
    color: #1c5a36;
    border: #1c5a36;
    background: white;
}

/*Slide*/

.capa{
    text-align: center;
}

.carousel-inner > .carousel-item > img {
    max-width: 100%; 
}

.carousel-control-next, .carousel-control-prev{
    width: 5%;
}


/*Cartão
---------------------*/

.cartao{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border:1px solid #1c5a36;
    border-radius: 10px;
    cursor: pointer;
}

.texto-oculto{
    display: none;
}

.cartao:hover{
    background:#1c5a36;
    color: white;
    padding:40px;
}

.cartao:hover img{
    display:none;
}

.cartao:hover .card-text{
    display: none;
}

.cartao:hover .texto-oculto{
    display:block
}




/*Rodapé*/

footer{
    background: #1c5a36 ;
    padding: 50px 0;
    margin: 0;
    position: relative;
    bottom: 0;
    width: 100%;
    
}

footer h4{
    color: white;
    font-size: 0.8em;
    text-transform: uppercase;
}

footer .navbar-nav a{
    color: white;
    font-size: 0.8em;
}
footer .navbar-nav a:hover{
    color: white;
    font-size: 0.8em;
    text-decoration: none;
}

footer ul{
    list-style: none;
}
footer ul li{
    float:right;
    margin: 0 5px;
}



/*Tipografia*/
.verde{
    background: #1c5a36;
    color: white;
}

h2{
    color: #1c5a36;
}

section h2{
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-weight: bold;
    color: darkslategray;
}

/*Whatsapp*/
.whats{
    position: fixed;
    bottom: 5px;
    right: 5px;
    
}

